{% extends "blog_app/base.html" %}

{% block content %}
    <h1 class = "posttitle loader"> {{ post.title }} </h1>  
    {% if post.published_date %}
        <div class = "date postdate">
            {{ post.published_date}}
        </div>
    {% else %}
        <a class = "btn btn-secondary" href = "{% url 'blog_app:post_publish' post.pk %}"> Publish </a>
    {% endif %}  
    <p class='postcontent'>
        <strong>{{ post.title|escape }}</strong><br>
        {{ post.text|safe|linebreaksbr }}
    </p>

    {% if user.is_authenticated %}
    <a class = "btn btn-primary" href = "{% url 'blog_app:post_edit'  post.pk %}">
        <span class = "glyphicon glyphicon-pencil">edit</span>
    </a>
    <a class = "btn btn-primary" href = "{% url 'blog_app:post_remove' post.pk %}">
        <span class = "glyphicon glyphicon-remove">Delete</span>
    </a>
    {% endif %}    

    <hr>

    <a class = "btn btn-primary btn-comment" href = "{% url 'blog_app:add_comment_to_post' post.pk %}"> Add Comment </a>

    <div class = "container">
        {% for comment in post.comments.all %}
            <br>
            {% if user.is_authenticated or comment.approved_comment %}
                {{ comment.create_date }}
                {% if not comment.approved_comment %}
                    <a class = "btn btn-secondary" href = "{% url 'blog_app:comment_remove'  comment.pk %}">
                        <span class = "glyphicon glyphicon-remove">delete</span>
                    </a>

                    <a class = "btn btn-info" href = "{% url 'blog_app:comment_approve' comment.pk %}">
                        <span class = "glyphicon glyphicon-ok">post comment</span>
                    </a>
                {% endif %}

                <p> {{ comment.text|safe|linebreaksbr }}</p>
                <p> Posted By : {{ comment.author }} </p>
            {% endif %} 
            
            {% empty %}
                <p> No comments </p>
        {% endfor %}
    </div>
{% endblock%}